* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#__next {
  height: 100%;
  overflow-x: hidden;
}

.header {
  align-items: center;
  background-color: #006eff;
  color: #ffffff;
  display: flex;
  height: 80px;
  min-height: 80px;
  padding: 0 30px;
  justify-content: space-between;

  div {
    display: flex;
    align-items: center;
    img {
      width: 35px;
      margin-right: 15px;
    }
  }
}

.footer {
  align-items: center;
  justify-content: center;
  background-color: #324358;
  color: #ffffff;
  display: flex;
  min-height: 50px;
}

.main {
  display: flex;
  height: 100%;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  justify-content: space-between;
}

.page {
  min-height: 500px;
  padding: 30px;
}

.login-page,
.home-page {
  width: 100%;
  min-height: 500px;
  display: -moz-box;
  display: flex;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}

.user-menu {
  display: flex;
  position: relative;
  cursor: pointer;

  .user-menu_info {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      border-radius: 40rem;
      margin: 0;
    }
  }

  .user-menu_options {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 50px;
    width: 150px;
    top: 80px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
}

button {
  min-width: 50px;
  padding: 5px 10px;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  font-weight: 500;
  background-color: #ff0000;
  border-radius: 3px;
  color: white;
}

button:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
}

.upload-field {
  border: 2px solid #006eff;
  padding: 30px;
  border-radius: 5px;
  font-size: 20px;
  width: 280px;
  font-weight: 500;
  cursor: pointer;

  p {
    font-size: 15px;
  }
}

.files-list {
  margin: 30px;
  ul {
    list-style: none;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 70px;
        margin: 15px;
      }
    }
  }
}

.hidden {
  display: none !important;
}

.block {
  display: block !important;
}

.flex {
  display: flex !important;
}

.upload-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.actions-box {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;

  button {
    background-color: #006eff;
    color: white;
    font-size: 20px;
    padding: 10px 15px;
  }
}

.sa {
  width: 140px;
  height: 140px;
  padding: 26px;
  background-color: #fff;
  &-success {
    border-radius: 50%;
    border: 4px solid #a5dc86;
    box-sizing: content-box;
    height: 80px;
    padding: 0;
    position: relative;
    background-color: #fff;
    width: 80px;
    &:after,
    &:before {
      background: #fff;
      content: "";
      height: 120px;
      position: absolute;
      transform: rotate(45deg);
      width: 60px;
    }
    &:before {
      border-radius: 40px 0 0 40px;
      width: 26px;
      height: 80px;
      top: -17px;
      left: 5px;
      transform-origin: 60px 60px;
      transform: rotate(-45deg);
    }
    &:after {
      border-radius: 0 120px 120px 0;
      left: 30px;
      top: -11px;
      transform-origin: 0 60px;
      transform: rotate(-45deg);
      animation: rotatePlaceholder 4.25s ease-in;
    }
    &-placeholder {
      border-radius: 50%;
      border: 4px solid rgba(165, 220, 134, 0.25);
      box-sizing: content-box;
      height: 80px;
      left: -4px;
      position: absolute;
      top: -4px;
      width: 80px;
      z-index: 2;
    }
    &-fix {
      background-color: #fff;
      height: 90px;
      left: 28px;
      position: absolute;
      top: 8px;
      transform: rotate(-45deg);
      width: 5px;
      z-index: 1;
    }
    &-tip,
    &-long {
      background-color: #a5dc86;
      border-radius: 2px;
      height: 5px;
      position: absolute;
      z-index: 2;
    }
    &-tip {
      left: 14px;
      top: 46px;
      transform: rotate(45deg);
      width: 25px;
      animation: animateSuccessTip 0.75s;
    }
    &-long {
      right: 8px;
      top: 38px;
      transform: rotate(-45deg);
      width: 47px;
      animation: animateSuccessLong 0.75s;
    }
  }
}
@keyframes animateSuccessTip {
  0%,
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}
@keyframes animateSuccessLong {
  0%,
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}
@keyframes rotatePlaceholder {
  0%,
  5% {
    transform: rotate(-45deg);
  }
  100%,
  12% {
    transform: rotate(-405deg);
  }
}
